@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://webfontworld.github.io/score/SCoreDream.css');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');



* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  word-break: keep-all;
  outline: 0px solid silver;
}

img {
  width: 100px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1rem;
  color: #000;
  letter-spacing: 0.1px;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.4rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.1rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

button {
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'SCoreDream';
}

button:hover {
  cursor: pointer;
}

p{
  line-height: 25px;
  font-family: 'SCoreDream';
}


/* mobile start */

.container {
  padding: 80px 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container article {
  width: 100%;
  max-width: 600px;
}


.red span{
  color: red;
}


input::placeholder{
  color: #bbb;
  padding: 0 15px;
}



.join{
    margin-top: 50px;
    text-align: center;
  }
  
  .join p{
    font-size: 0.9rem;
  }
  
  .join input{
    border: 1px solid #ddd;
  }
  
  .join h6{
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 0.9rem;
  }
  
  .join hr{
    margin-bottom: 20px;
    background-color: #ccc;
    height: 1px;
    border: 0;
  }
  
  .join button{
    background-color: #555;
    color: #fff;
  }
  
  
  .join input, .join button{
    padding: 10px 5px;
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border-color: #ddd;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  
  .join :first-child h3 {
    padding: 20px;
    text-transform: capitalize;
    font-size: 3rem;
  }
  
  .join> :first-child>p {
    padding: 30px 0;
  }
  
  .join> :nth-child(2){
    padding: 30px 8%;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .join> :nth-child(2)> :first-child{
    padding: 20px 0;
  }
  
  .join> :nth-child(2)> :nth-child(2)> div{
    display: flex;
    justify-content: space-between;
  }
  
  .join> :nth-child(2)> :nth-child(2)> div> input{
    width: 67%;
  }
  
  .join> :nth-child(2)> :nth-child(2)> div> button{
    width: 30%;
    font-size: 0.7rem;
  }
  
  .join> :nth-child(2)> :nth-child(7)> div{
    display: flex;
    justify-content: space-between;
  }
  
  .join> :nth-child(2)> :nth-child(7)> div> input{
    width: 57%;
  }
  
  .join> :nth-child(2)> :nth-child(7)> div> button{
    width: 40%;
    white-space: nowrap;
    font-size: 0.7rem;
  }
  
  .join> :nth-child(2)> :nth-child(8)> input{
    background : url(https://cdn-icons-png.flaticon.com/128/2866/2866321.png)no-repeat 95% ;
    background-size: 30px;
  }
  
  .join> :nth-child(2)> :nth-child(8)> input:hover{
   cursor: pointer;
  }
  
  .join> :nth-child(2)> :nth-child(9)> div{
    padding: 0 15px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    display: flex;
    align-items: center;
  }
  
  .join> :nth-child(2)> :nth-child(9)> div> p{
    margin-right: 20px;
  }
  
  .join> :nth-child(2)> :nth-child(10)> div{
    margin-top: -10px;
    display: flex;
    align-items: center;
  }
  
  .join> :nth-child(2)> :nth-child(10)> div> input{
    margin-right: 5px;
    width: 14px;
  }
  
  .join> :nth-child(2)> :nth-child(12) div{
    padding: 30px 0;
    height: 20px;
    display: flex;
    justify-content: left;
    align-items :center;
  }
  
  .join> :nth-child(2)> :nth-child(12)> div> input{
    margin-right: 10px;
    width: 14px;
  }
  
  @media screen and (max-width: 400px) {
    .join> :nth-child(2)> :nth-child(12)> div> p{
      margin-top: 26px;
    }
  }
  
  .join> :nth-child(2)> :nth-child(12)> div> p{
    font-size: 0.8rem;
  }
  
  
  .join> :nth-child(2)> :nth-child(12)> div> p> span{
    color: #aaa;
  }
  
  .join> :nth-child(2)> :last-child{
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #408ec3;
  }
  
  .join> :nth-child(2) input{
    font-size: 0.7rem;
  }
  
  
  
  .tos{
    margin: 100px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
  }
  
  
  
  .tos button{
    width: 100%;
    margin: 5px 0;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .tos> div{
    padding: 30px 8%;
  }
  
  .tos> div> h4{
    padding: 20px 0;
  }
  
  .tos> div> :nth-child(2){
    padding: 5px 5%;
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ebeaea;
    overflow-y: scroll;
    text-align: left;
    white-space: pre-line;
  }
  
  .tos> div> :nth-child(2)> :first-child{
    font-size: 0.8rem;
  }
  
  .tos> div :nth-child(3){
    margin: 20px 15px;
    width: 100%;
    text-align: left;
  }
  
  .tos> div> :nth-child(4){
    background-color: #555;
    color: #fff;
  }
  
  .tos> :last-child{
    margin-bottom: 10px;
  }
  
  
  
  .completed{
    padding: 100px 8% 140px 8%;
    height: 270px;
    border: 1px solid#ccc;
    border-radius: 10px;
    text-align: center;
  }
  
  .completed *{
    margin: 20px 0;
  }
  
  .completed> h4{
    margin-top: -55px;
  }
  
  .completed> p{
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  
  .completed hr{
    background-color: #ccc;
    height: 1px;
    border: 0;
  }
  
  .completed> div{
    display: flex;
    justify-content: center;
  }
    
  .completed> div> button{
    width: 110px;
    margin: 10px 7px;
    border-radius: 5px;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .completed> div> :first-child{
    background-color: #555;
  }
  
  .completed> div> :last-child{
    background-color: #408ec3;
  }