@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://webfontworld.github.io/score/SCoreDream.css');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');



* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  word-break: keep-all;
  outline: 0px solid silver;
}

img {
  width: 100px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1rem;
  color: #000;
  letter-spacing: 0.1px;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.4rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.1rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

a:link {
  color: #000;
  text-decoration: none;
}



button {
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'SCoreDream';
}

button:hover {
  cursor: pointer;
}

p{
  line-height: 25px;
  font-family: 'SCoreDream';
}


/* mobile start */

.container {
  padding: 80px 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container article {
  width: 100%;
  max-width: 600px;
}


.red span{
  color: red;
}


input::placeholder{
  color: #bbb;
  padding: 0 15px;
}


.login {
  width: 100%;
  height: 800px;
  text-align: center;
}
.login input{
  border: 1px solid #ddd;
}

.login input,
.login button {
  width: 100%;
  height: 40px;
  margin: 5px 0;
  border-color: #ddd;
  border-radius: 5px;
  font-size: 0.8rem;
}

.login button{
  font-weight: 400;
}

.login img {
  width: 15px;
  height: 15px;
}

.login :first-child h3 {
  padding: 20px;
  font-size: 3rem;
}

.login> :first-child>p {
  padding: 30px 0;
}

.login> :nth-child(2) {
  height: 600px;
  padding: 30px 8%;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #555;
}

.login> :nth-child(2)> :first-child {
  margin: 10px 0 20px 0;
  font-size: 0.8rem;
  color: #777;
}

.login> :nth-child(2)> :nth-child(2)> :nth-child(3){
  margin-top: -5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
}

.login> :nth-child(2)> :nth-child(2)> :nth-child(3)> :first-child{
  display: flex;
  align-items: center;
  font-weight: 500;
}
.login> :nth-child(2)> :nth-child(2)> :nth-child(3)> :first-child> :first-child {
  width: 14px;
}

.login> :nth-child(2)> :nth-child(2)> :nth-child(3)> :last-child{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 500;
}

.login> :nth-child(2)> :nth-child(2)> :nth-child(3)> :last-child p:hover{
  cursor: pointer;
}

.login> :nth-child(2)> :nth-child(2)> :nth-child(3)> :first-child> p{
  padding-left: 3px;
}

.login> :nth-child(2)> :nth-child(3)> :first-child{
  background-color: #408ec3;
  color: #fff;
}

.login hr{
  margin: 20px 0;
  background-color: #ccc;
  height: 1px;
  border: 0;
}

.login> :nth-child(2)> :nth-child(5){
  margin-bottom: 20px;
  font-size: 1rem;
}

.login> :nth-child(2)> :nth-child(6) button{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login> :nth-child(2)> :nth-child(6) button img{
  margin: 0 3px;
}
